@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-theme: rgb(140, 200, 80);
  --text-dark: #32471D;
  --text-light: #B1D092;
  --pop: #B950C7;
  --secondary: #63DE4E;
}

body {
  background-color: rgb(68 64 60);
}

#hero-div, #socials-div {
  box-shadow: 0 0 20px var(--text-light);
  color: var(--main-theme);
}

div, h2, h4, p {
  color: rgb(209 213 219); 
}

h3, h1 {
  color: var(--main-theme)
}

#footer {
  background-image: url("../public/greenGrassMusic-fs8.png");
}