@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-theme: rgb(140, 200, 80);
  --text-dark: #32471D;
  --text-light: #B1D092;
  --pop: #B950C7;
  --secondary: #63DE4E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#hero-div, #socials-div {
  box-shadow: 0 0 20px var(--text-light);
  color: var(--main-theme);
}

div, h2, h4, p {
  color: rgb(209 213 219); 
}

h3, h1 {
  color: var(--main-theme)
}

#footer {
  background-image: url("../public/greenGrassMusic-fs8.png");
}